<div class="messageForm">
  <form action="/submit" method="post">
    <div class="formItem">
      <textarea
        name="message"
        id="message"
        rows="8"
        placeholder="What do you want to say today?"
        required
      ></textarea>
    </div>
    <button class="submitPost btn">Submit</button>
  </form>
</div>
