<div class="messageForm">
  <form action="" method="post">
    <div class="formItem">
      <label for="message">Post: </label>
      <textarea
        name="message"
        id="message"
        placeholder="What do you feel like today?"
      ></textarea>
    </div>
  </form>
</div>
