<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Log In</title>
    <link rel="stylesheet" href="/styles.css" />
  </head>
  <body>
    <%- include("partials/navbar") %>
    <div class="login authbox">
      <form action="/login" method="post" class="authForm">
        <h2>Log In</h2>
        <div class="formFields">
          <div class="formItem">
            <label for="username">E-mail ID *</label>
            <input type="email" name="username" id="username" required />
          </div>
          <div class="formItem">
            <label for="password">Password *</label>
            <input type="password" name="password" id="password" required />
          </div>
        </div>
        <button class="btn">Submit</button>
      </form>
    </div>
  </body>
</html>
