<%- include("partials/navbar") %>
<div class="login">
  <form action="/login">
    <h2>Log In</h2>
    <div class="formItem">
      <label for="email">E-mail ID: </label>
      <input type="email" name="email" id="email" />
    </div>
    <div class="formItem">
      <label for="password">Password: </label>
      <input type="password" name="password" id="password" />
    </div>
  </form>
</div>
