<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Become a Member</title>
    <link rel="stylesheet" href="/styles.css" />
  </head>
  <body>
    <%- include("partials/navbar") %>
    <div class="memberForm authbox">
      <form action="/member" method="post" class="authForm">
        <div class="formItem">
          <label for="passCode">Enter Passcode: </label>
          <input type="password" name="passcode" id="passcode" />
        </div>
        <button class="btn">Submit</button>
      </form>
    </div>
  </body>
</html>
