<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Sign Up</title>
    <link rel="stylesheet" href="/styles.css" />
  </head>
  <body>
    <%- include("partials/navbar") %>
    <div class="signup authbox">
      <form action="/signup" method="post" class="authForm">
        <h2>Sign up</h2>
        <div class="formFields">
          <div class="formItem">
            <label for="firstName">First Name *</label>
            <input type="text" name="firstName" id="firstName" required />
          </div>
          <div class="formItem">
            <label for="lastName">Last Name *</label>
            <input type="text" name="lastName" id="lastName" required />
          </div>
          <div class="formItem">
            <label for="email">E-mail ID *</label>
            <input type="email" name="username" id="email" required />
          </div>
          <div class="formItem">
            <label for="password">Password *</label>
            <input type="password" name="password" id="password" required />
          </div>
          <div class="formItem">
            <div class="cb">
              <input type="checkbox" name="admin" value="admin" id="admin" />
              <label for="admin">This user is an admin</label>
            </div>
          </div>
        </div>
        <button class="authbutton btn">Sign Up</button>
      </form>
    </div>
  </body>
</html>
